
#zoom{
    position: fixed;
    color: white;
    left: 20px;
    top: 40%;
    text-align: center;
    font-size: 17px;
    font-family: cursive;
}

@media only screen and (max-width: 450px){
    #zoom{
        display: none;
    }

}